<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>

<div class = "topnav">
    <a class = "active" href = "#back" onclick = "history.back()">Back</a>
</div>

<div class = "middle_box">
    <form class="modal-content animate">
        <div class="container">
            <label><b><h2>Email</h2></b></label>
            <input type="text" placeholder="Enter Email" required>

            <label><b><h2>Password</h2></b></label>
            <input type="password" placeholder="Enter Password" required>

            <button type="submit" class = "submit_button">Login</button>
        </div>

        <div class="container signin">
            <p>Don't have an account? <a href="../html/registration.html">Create account</a>.</p>
        </div>

    </form>
</div>

</body>
</html>